{% extends 'SuperAdmin_index.html'%} {% load static %} {% block content %}
<section class="ftco-section">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section mt-3 mb-3"><span style="color: rgb(168, 168, 168);">Users details</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <div class="table-wrap">
                    <table class="table text-center">
                      <thead class="thead-dark">
                        <tr>
                          <th>User Name</th>
                          <th>Email</th>
                          <th>Phone</th>
                          <th>Designation</th>
                          <th>Action</th>
                          <th>Action</th>
                          <th>&nbsp;</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="alert" role="alert">
                          <th scope="row">User name 1</th>
                          <td>own@gmail.com</td>
                          <td>Phone</td>
                          <td>
                            <select class="btn btn-primary btn-xs" name="tstatus">
                              <option>Owner</option>
                              <option>User</option>
                            </select>
                          </td>
                          <td>
                            <button type="submit" class="btn btn-xs btn-primary btn-icon-text">
                              <i class="ti-file btn-icon-prepend"></i>
                              Submit
                            </button>
                          </td>
                          <td>
                            <button type="submit" class="btn btn-xs btn-icon-text" style="background-color: rgb(255, 90, 81);">
                              <i class="ti-file btn-icon-prepend"></i>
                              Remove
                            </button>
                          </td>
                        </tr>
                        <tr class="alert" role="alert">
                            <th scope="row">User name 1</th>
                            <td>own@gmail.com</td>
                            <td>Phone</td>
                            <td>
                              <select class="btn btn-primary btn-xs" name="tstatus">
                                <option>Active</option>
                                <option>Resign</option>
                              </select>
                            </td>
                            <td>
                              <button type="submit" class="btn btn-xs btn-primary btn-icon-text">
                                <i class="ti-file btn-icon-prepend"></i>
                                Submit
                              </button>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-xs btn-icon-text" style="background-color: rgb(255, 90, 81);">
                                  <i class="ti-file btn-icon-prepend"></i>
                                  Remove
                                </button>
                              </td>
                          </tr>
                          <tr class="alert" role="alert">
                            <th scope="row">user name 1</th>
                            <td>own@gmail.com</td>
                            <td>Phone</td>
                            <td>
                              <select class="btn btn-primary btn-xs" name="tstatus">
                                <option>Active</option>
                                <option>Resign</option>
                              </select>
                            </td>
                            <td>
                              <button type="submit" class="btn btn-xs btn-primary btn-icon-text">
                                <i class="ti-file btn-icon-prepend"></i>
                                Submit
                              </button>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-xs btn-icon-text" style="background-color: rgb(255, 90, 81);">
                                  <i class="ti-file btn-icon-prepend"></i>
                                  Remove
                                </button>
                              </td>
                          </tr>
                      </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-2">
                
            </div>
        </div>
    </div>
</section>


{%endblock%}