{% extends 'User_index.html'%} {% load static %} {% block content %}
        <div class="container mt-5 mb-5" >
                    <form>
                    <div class="row">
                        <div class="col-md-12">
                            <center>
                                <h2>Book Now</h2>
                            </center>
                        <form method="post" action="{% url 'book_bunk' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                            <div class="form-group">
                                <label class="form-label">Name</label>
                                <input class="form-control" type="text" name="u_name" placeholder="Enter your name">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Email</label>
                                <input class="form-control" type="email" name="email" placeholder="Enter your email">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Phone</label>
                            <input class="form-control" type="tel" name="phone" placeholder="Enter your phone number">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Available vehicle type:{{ book.vehicle_type }}</label>
                                <input class="form-control" type="text" name="v_type" placeholder="Enter vehicle type">
                            </div>
                        <div class="form-group">
                            <label class="form-label">Available Connector Type:{{ book.connector }}</label>
                            <input class="form-control" type="text" name="c_type" placeholder="enter connector type">
                        </div>
                        <div class="form-group">
                                    <label class="form-label">Pickup Date</label>
                                    <input class="form-control" name="date" type="date" required>
                        </div>
                        <div class="form-group">
                            <label for="appt">Select a time:</label>
                            <input type="time" id="appt" name="time">
                        </div>
                        <div class="form-btn">
                            <button class="btn btn-primary">Book Now</button>
                        </div>
                    </form>
                    </div>
                </div>
                    
                </div>

{%endblock%}